html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #f5f2f0;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  margin: 1rem;
}

img {
  width: 100%;
}

h1 {
  font-family: "Denk One", sans-serif;
  color: #623b0c;
  margin: 0;
  padding-bottom: 1.4rem;
}

h2 {
  font-family: "Denk One", sans-serif;
  color: #623b0c;
  margin: 0 0 1.7rem;
}

a {
  font-family: Georgia, serif;
  background-color: #623b0c;
  color: #fff;
  text-decoration: none;
  padding: .5em 1em .7em;
  border-radius: 8px;
}

p {
  font-family: Georgia, serif;
  text-align: left;
  margin: 0 0 1.5rem;
  padding-top: 1.5rem;
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

ol > li {
  border: 2px solid #623b0c;
  background-color: #ede3db;
  border-radius: 8px;
  padding: .9rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ol ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

ul a {
  display: flex;
  justify-content: start;
  align-items: center;
}

ul li {
  padding: 0 .25em;
}

ul li:first-child {
  margin-right: auto;
}
